body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #2c2c2e;
    background-color: #2c2c2e;
}

body .container-login {
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgb(0 0 0 / 10%), 0 32px 64px -48px rgb(0 0 0 / 50%);
}

form {
    padding: 25px 30px;
}

button {
    width: 390px;
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}